.main-content {
  flex: 1 1 auto;
  padding: 25px;
}

.main-content__header {
  @include flex;
  margin: 0 0 30px;
}

.main-content__title {
  @include font($size: 30px);
}

.main-content__btn-add {
  padding: 15px;
  @include font($size: 18px);
  border-radius: 15px;
  background-color: $color-green;
  transition: all 0.3s ease;
}

.main-content__btn-add:hover {
  background-color: $color-btn-hover;
}

.main-content__btn-data {
  padding: 15px;
  @include font($size: 18px);
  border-radius: 15px;
  background-color: $color-green;
  transition: all 0.3s ease;
}

.main-content__btn-data:hover {
  background-color: $color-btn-hover;
}
