.sidebar {
  position: relative;
  width: 300px;
  @include flex($direction: column, $align: stretch, $justify: flex-start);
  padding: 0 15px;
  background-color: $color-light;
}

.sidebar__content {
  @include flex($direction: column, $align: stretch, $justify: center);
  gap: 15px;
}

.sidebar__title {
  @include font($size: 20px);
  text-align: center;
  text-transform: uppercase;
}

.sidebar__list {
  border: 15px solid $color-white;
  border-radius: 15px;
  @include font($size: 18px);
}

.sidebar__modes {
  @include flex($direction: column, $align: stretch, $justify: stretch);
}

.sidebar__modes-btn {
  padding: 25px;
  @include font($size: 20px);
  border-radius: 15px;
  text-transform: uppercase;
  background-color: $color-light;
  transition: all 0.3s ease;
}

.sidebar__modes-btn:hover {
  background-color: $color-blue-light-hover;
}

.mode-active {
  border: 2px solid $color-green;
  background-color: $color-blue-light;
}
