.table {
  width: 100%;
  margin: 0 0 30px;
}

.table__header-row {
  background-color: $color-blue-light;
}

.table__title {
  padding: 15px 5px;
  @include font($size: 18px);
}

.main-content__total {
  @include font($size: 18px);
}

.table__value {
  padding: 15px 5px;
}

.table__value {
  @include font($size: 18px);
  text-align: center;
}

.table__btn-delete {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
  background-color: $color-red-hover;
  @include font($size: 18px);
}

.table__btn-show-employees{
  width: 118px;
  padding: 5px;
  border-radius: 5px;
  background-color: $color-blue-light;
  @include font($size: 18px);
}
