.table {
  width: 100%;
  margin: 0 0 30px;
}

.table__header-row {
  background-color: $color-blue-light;
}

.table__title {
  padding: 15px 5px;
  @include font($size: 18px);
}

.main-content__total {
  @include font($size: 18px);
}

.table__value {
  padding: 15px 5px;
  @include font($size: 18px);
  text-align: center;
}

.table-btns {
  @include flex($direction: column, $align: center, $justify: center);
  gap: 5px;
}

.table__btn-delete,
.table__btn-assign {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
  background-color: $color-red-hover;
  @include font($size: 18px);
}

.table__btn-show-employees,
.table__btn-show-assignments,
.table__btn-availability {
  width: 118px;
  padding: 5px;
  border-radius: 5px;
  @include font($size: 18px);
}

.table__btn-show-employees,
.table__btn-show-assignments {
  background-color: $color-blue-light;
}

.table__btn-availability {
  background-color: #9035ffa3;
}

.table__btn-assign {
  background-color: $color-blue-light;
}
