$color-modal: rgba(24, 28, 41, 0.8);
$color-white: #ffffff;
$color-green: #0ba778;
$color-btn-hover: #12c18c;
$color-blue: #07575b;
$color-blue-light: #66a5ad;
$color-blue-light-hover: #66a5add4;
$color-light: #c4dfe6;
$color-black: #000000;
$color-red: #aa2222;
$color-red-hover: #bf2626;
