.wrapper {
  position: relative;
  @include flex($direction: column, $align: stretch);
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
  @include flex($align: stretch)
}

.inactive-class {
  display: none;
}

.incorrect-input {
  border: 1px solid $color-red !important;
}

